* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background: #e4e4e4;
    font-family:sans-serif;
}

/*HEADER*/

header{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    background: #2c2c2c;
    padding: 0.5rem;
    border-bottom: 0.3rem solid #00aa00;
}

#contenedor{
    display: flex;
    align-items: center;
    height: auto;
}

#contenedor__cabecera_logo{
    width: 4rem;
    margin: 0.5rem;
}

nav{
    position: absolute;
    color: white;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
}

nav input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

nav label {
    height: 3rem;
    cursor: pointer;
    display: block;
    padding: 2.5rem;
}

#responsive-menu__menu-icon, #responsive-menu__menu-icon:before, #responsive-menu__menu-icon:after {
    background: white;
    border-radius: 0.05em;
    height: 0.2rem;
    margin-top:0.5rem;
    margin-bottom: 0.5rem;
    transition: all 0.2s ease-in-out;
    width: 100%;
}

#responsive-menu__menu-icon {
    display: inline-block;
    max-width: 2em;
    position: relative;
}

nav label #responsive-menu__menu-icon {
    float: right;
}

#responsive-menu__menu-icon:before, #responsive-menu__menu-icon:after {
    content: '';
    left: 0;
    position: absolute;
}

#responsive-menu__menu-icon:before {
    top: 0.2em;
}

#responsive-menu__menu-icon:after {
    bottom: 0.2em;
}

nav input[type=checkbox]:checked + label #responsive-menu__menu-icon {
    background: transparent;
}

nav input[type=checkbox]:checked + label #responsive-menu__menu-icon:before {
    top: -10px;
    transform: rotate(45deg);
}

nav input[type=checkbox]:checked + label #responsive-menu__menu-icon:after {
    top: -10px;
    transform: rotate(-45deg);
}

nav input:checked ~ #inicio__overlay {
    background: #2c2c2c;
    bottom: 0;
    left: 0;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    z-index: -1;
}

nav ul {
    font-size: 1.5em;
    list-style: none;
    margin: 0;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    text-align: center;
}

nav input:checked ~ ul {
    margin: 1em;
    max-height: inherit;
    opacity: 1;
}

nav ul > li {
    margin: 0.5em 0;
}

nav ul a {
    color: #e4e4e4;
    text-decoration: none;
}

nav ul a:hover {
    text-decoration: underline;
}

nav ul#inicio__redes > li {
    display: inline-block;
    font-size: 1.5em;
    margin: 0.5em;
}

.redes__logo_redes{
    width: 2rem;
    height: 2rem;
    margin: 10px;
}

/*MAIN*/

main{
    color:#e4e4e4;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 45.67rem;
}

.mc{
    font-size: 4rem;
    color: #2c2c2c;
}

.mc span{
    color: #00aa00;
}


.block {
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
    margin-bottom: 1.25rem;
    width: 75%;
    background: #2c2c2c;
    border: 0.5rem #00aa00 solid;
    border-radius: 1rem;
}

.block__minecraft_bioma{
    width:  90%;
    margin-left: 5%;
    margin-right: 5%;
}

.box{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.box__block-2{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    margin: 1.25%;
    width: 50%;
    background: #2c2c2c;
    border: 0.5rem #00aa00 solid;
    border-radius: 1rem;
}

.block-2__logo_link{
    width: 50%;
    height: auto;
    padding: 2rem
}

#block-2__logo_link{
    width: 92.75%;
    padding: 2rem;
}

.block-2__minecraft_icon{
    width: 100%;
}

.block-2__mc2{
    text-align: center;
}

.block-3{
    display: flex;
    flex-direction: row;
    align-items:center;
    width: 95%;
    height: 40rem;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    background: #2c2c2c;
    border: 0.5rem #00aa00 solid;
    border-radius: 1rem;
}

.block-3__minecraft_logo{
    width:  15%;
    padding-left: 2rem;
}

.block-4{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items:center;
    position: relative;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    width: 29rem;
    padding: 2rem;
    background: #2c2c2c;
    border: 0.5rem #00aa00 solid;
    border-radius: 1rem;
}

.block-4__perfil {
    display: flex;
    align-items: center;
}

.perfil__avatar {
    width: 10rem;
    height: auto;
}

.perfil__avatar img {
    width:100%;
    height: 100%; object-fit: cover;
}

.perfil__formulario{
    font-weight: bold;
    display: flex;
    padding-left: 1rem;

}
/*FOOTER*/

footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background: #2c2c2c;
    padding: 0.5rem;
    color: #e4e4e4;
    border-top: 0.3rem solid #00aa00;
}

.copyright{
    width: 1.5%;
}

/*OTRAS PROPIEDADES*/

h1{
    text-align: center;
    font-size: 2rem;
    color: #e4e4e4;
}

h2{
    font-size: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

h3{
    padding-left: 2rem;
    padding-right: 2rem;
    align-items: flex-start;
    text-align: left;
}

a{
    text-align: center;
    color:#e4e4e4;
    text-decoration: none;
    font-size: 1.5rem;
}

p{
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: bold;
}

textarea{
    width: 100%;
    height: 10rem;
}